{% extends 'cdbweb_base.html' %}
{% load render_table from django_tables2 %}

{% block content %}

<!---   SELECTORS     --->
{% if selectors %}
<center>
<form action="" method="post">
  {% csrf_token %}
  <table width="80%"> <!-- {{ selwidth }} -->
    <tr>
      {% for sel in selectors %}
      <td align="center">
	<table>{{ sel }}</table>
      </td>
      {% endfor %}
      <!-- td -->
      <!-- /td -->
    </tr>
    <tr>
      {% for opt in optional %}
      <td>
	<table>{{ opt }}</table>
      </td>
      {% endfor %}      
      
    </tr>
  </table>
  <center><input type="submit" value="Submit" /></center>
		
</form>
</center>
<hr/>
{% endif %}
<!---   SELECTORS     --->


{% if gtTable %}
<center> <h3>Global Tags</h3>{% render_table gtTable %}</center>
{% endif %}

{% if table1 and table2 %}
<table border="1" width="100%">
  <tr><th>{{ th1 }}</th><th>{{ th2 }}</th></tr>
  
  <tr>
    <td align="center"><div style="font-size:75%";>{{ desc1 }}</div></td>
    <td align="center"><div style="font-size:75%";>{{ desc2 }}</div></td>
  </tr>

  <!-- the following line displays summary for both global tags -->
  <tr><td>{% render_table table1 %}</td><td>{% render_table table2 %}</td></tr>
  
  <tr><td align="center">Global Tag Payloads</td><td align="center">Global Tag Payloads</td> </tr>
  
  <tr>
    {% if aux_table1 %}
    <td align="center">{% render_table aux_table1 %}</td>
    {% endif %}

    {% if aux_table2 %}
    <td align="center">{% render_table aux_table2 %}</td>
    {% endif %}
  </tr>
  
</table>
<p/>
<center>
  Click on the Global Tag Payload ID to get detailed information on the IoVs and modification timestamps.
</center>
{% endif %}
{% endblock %}
