{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
  <head>
    <title>CDBweb under maintenance</title>
    <!-- link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" / -->
    <link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" />
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
    <style>
      body {
      font-family: 'Ubuntu', sans-serif;
      }
    </style>

    {% if refresh %}
    <meta http-equiv="refresh" content="{{ refresh }}" />
    {% endif %}

  </head>

  <body>
    <div style="font-size:150%";>
      <center>
	CDBweb service running at {{ domain }}<br/> is currently under maintenance...<br/>
	Contact Maxim (potekhin@bnl.gov) with any questions.
      </center>
      </div>
    <hr/>

  {% block content %}
  {% endblock %}
  </body>
</html>
